nav {
    padding-block: 8px;
}

nav .icon-container {
    padding: 7px;
}

hr {
    border-color: #222d34;
}

.main-colour {
    background-color: #202c33;
}

.second-colour {
    background-color: #111b21;
}

.icon-container {
    border-radius: 20px;
    cursor: pointer;
}

.icon-container:active {
    background-color: #374248;
}

.icon {
    color: #aebac1;
}

.menu-card {
    color: #8696a0;
    cursor: pointer;
}

.menu-card:hover,
.menu-card:active {
    background-color: #2a3942;
}

.menu-card:active {
    color: #e9edef;
}

.menu-card .icon-container {
    background-color: #00a884;
}

.menu-card .tick {
    color: #8696a0;
}

.menu-card .tick.active {
    color: #00a884;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #233138;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown.active .dropdown-content {
    display: block;
}

#chat-search {
    width: 100%;
    color: #ffffff;
    outline: none;
}

#top-bar .icon-container:active {
    background-color: #00a884;
}