.primary-colour {
    background-color: #202c33;
}

.second-colour {
    background-color: #111b21;
}

.icon-container {
    border-radius: 20px;
    cursor: pointer;
}

.icon-container:active {
    background-color: #374248;
}

.icon {
    color: #aebac1;
}

.arrowBack {
    cursor: pointer;
}

#top-bar .icon-container:active {
    background-color: #00a884;
}