@tailwind components;
@tailwind utilities;
@tailwind base;

/* these classes are needed to fix tailwind messing up mui buttons */
button[class*="MuiButton-containedPrimary"] {
  background-color: hsl(41, 100%, 60%) !important;
}
button[class*="MuiFab-primary"] {
  background-color: hsl(41, 100%, 60%) !important;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.ql-editor {
  min-height: 400px;
}
/* .ql-container {
  border: none !important;
} */
/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
